autogluon==0.7.0
autogluon==0.5.2
autogluon.common==0.7.0
autogluon.core==0.7.0
autogluon.features==0.7.0
autogluon.multimodal==0.7.0
autogluon.multimodal==0.5.2
autogluon.tabular==0.7.0
autogluon.tabular==0.5.2
autogluon.text==0.5.2
autogluon.timeseries==0.7.0
autogluon.timeseries==0.5.2
autogluon.vision==0.5.2
matplotlib==3.5.1
mgwr==2.1.2
netCDF4==1.6.4
netCDF4==1.6.4
numpy==1.15.1
numpy==1.21.5
numpy==1.21.6
pandas==1.4.2
pandas==1.4.4
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
spglm==1.0.8
tqdm==4.64.0
